body {
    font-family: sans-serif;
    background-color: #d4c5ae;
}

h1, h2 ,h3, p {
    text-align: center;
}

span {
    font-weight: bold;
}

div#container{
    display: flex;
    width: 100%;
}

div#toolbar{
    display: flex;
    justify-content: center;
    justify-items: center;
}

div#head{
    display: inline;
    justify-content: center;
    justify-items: center;
}

div.center{
    width: 50%;
    display: inline;
    justify-content: center;
    justify-items: center;
}

.input{
    margin: auto;
    display: table;
}

div#left{
    width: 25%;
}

div#right{
    width: 25%;
}

button#rules{
    height: 2rem;
    width: 6rem;
    border-color: #94a3c0;
    background-color: #f7e6ca;
    font-size: 1em;
    border-radius: 0.5rem;
    margin: auto;
    display: table;
}

button#start{
    visibility: visible;
    height: 5rem;
    width: 6rem;
    border-color: #94a3c0;
    background-color: #f7e6ca;
    font-size: 1em;
    border-radius: 0.5rem;
    margin: auto;
    display: table;
}

button#dzik {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    margin: auto;
    display: table;
}

#dzik img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.5rem;
}

#dzik:active {
    transform: scale(0.95);
}

.dzik {
    visibility: hidden;
}

ul{
    list-style: disc;
    font-weight: bold;
}

