body {
    font-family: sans-serif;
}

h1, h3 {
    text-align: center;
}

div#toolbar{
    display: flex;
    justify-content: center;
    justify-items: center;
}

button.choice{
    font-family: inherit;
    font-size: 1em;
    height: 3rem;
    width: 6rem;
    margin: 2rem;
}

button#easy{
    background-color: green;
    border-color: green;
    border-radius: 1rem;
}

button#mid{
    background-color: yellow;
    border-color: yellow;
    border-radius: 1rem;
}

button#hard{
    background-color: red;
    border-color: red;
    border-radius: 1rem;
}

button#rules{
    background-color: lightgray;
    border-color: lightgray;
    font-size: 1em;
    border-radius: 0.5rem;
}

button#start{
    height: 5rem;
    width: 6rem;
    visibility: hidden;
    background-color: lightgray;
    border-color: lightgray;
    font-size: 1em;
    border-radius: 0.5rem;
}